<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<p>Author:<%=author.email %></p>
		<hr>
		<p>Title:<%=article.title %></p>
		<p>Post time:<%=article.postTime %></p>
		<p>Last edit time:<%=article.lastEditTime %></p>
		<p>Content:<%=article.content %></p>
		<a href="/article/all">Go to Article List</a>
	</body>
</html>