<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<ul>
			<% articles.forEach(function(article) { %>
				<li>
					<a href="/article/<%=article._id %>/<%=article.author._id %>">
						Title:<%=article.title %>
						(<%=article.author.email %>)
					</a>
				</li>
			<% }); %>
		</ul>
		<a href="/">Go Home</a>
	</body>
</html>