<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<% if (isSelf) { %>
			<a href="/article/edit/<%=article._id %>/<%=article.author._id %>">Edit</a>
			<a href="/article/delete/<%=article._id %>/<%=article.author._id %>">Delete</a>
		<% } %>
		<p>Author:<%=article.author.name %></p>
		<hr>
		<p>Title:<%=article.title %></p>
		<p>Post time:<%=article.createTime %></p>
		<p>Last edit time:<%=article.lastEditTime %></p>
		<p>Content:<%=article.content %></p>
		<hr>
		<!-- Comment List -->
		<ul>
		<% article.comments.forEach(function (comment) { %>
			<li>
				<%=comment.author.name %>:<%=comment.content %>
				<ul>
					<% if (comment.replies.length != 0) { %>
						<li><a><%=comment.replies.length %> replies</a></li>
					<% } %>
					<% if (isAuth) { %>
						<li>
							<form action="/comment/reply/<%=comment._id %>" method="post">
								<input name="articleId" type="hidden" value="<%=article._id %>" >
								<%=user.name %>: <input name="content" type="text" >
								<input type="submit" value="Reply" >
							</form>
						</li>
					<% } %>
				</ul>
			</li>
		<% }); %>
			<li>
				<% if (isAuth) { %>
					<form action="/article/comment/<%=article._id %>" method="post">
						<%=user.name %>: <input name="content" type="text" >
						<input type="submit" value="Comment" >
					</form>
				<% } else { %>
					<a href="/user/login">Login</a> to leave a comment.
				<% }%>
			</li>
		</ul>
		<hr>
		<a href="/article">Go to Article List</a>
	</body>
</html>