<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<% if (isSelf) { %>
			<a href="/article/edit/<%=article._id %>/<%=article.author._id %>">Edit</a>
			<a href="/article/delete/<%=article._id %>/<%=article.author._id %>">Delete</a>
		<% } %>
		<p>Author:<%=article.author.name %></p>
		<hr>
		<p>Title:<%=article.title %></p>
		<p>Post time:<%=article.createTime %></p>
		<p>Last edit time:<%=article.lastEditTime %></p>
		<p>Content:<%=article.content %></p>
		<hr>
		<ul>
		<% article.comments.forEach(function (comment) { %>
			<li><%= comment.author.name %>:<%=comment.content %></li>
		<% }); %>
		</ul>
		<% if (isAuth) { %>
			<form action="/article/comment/<%=article._id %>" method="post">
				<p><%=user.name %>: <input name="content" type="text" ></p>
				<p><input type="submit" value="Leave comment" ></p>
			</form>
		<% } else { %>
			<a href="/user/login">Login</a> to leave a comment.
		<% }%>
		<hr>
		<a href="/article">Go to Article List</a>
	</body>
</html>